<template>
		<v-container>
            <v-text-field v-model="nom" placeholder="Nom du produit"/>
            <v-text-field v-model="prix" placeholder="Prix du produit"/>
            <v-text-field v-model="qte" placeholder="Quantité"/>
            <v-text-field v-model="Dépot" placeholder="Dépot"/>
            <v-text-field v-model="image" placeholder="Lien de l'image"/>
            <v-btn @click="sendToFirebase2()"> Créer une fiche produit</v-btn>
         
		</v-container>
	 </template>
	 <script>
		export default {
		name: 'addlunettes',
        data: () => ({
  	            nom: '',
                prix: '',
                qte: '',
                Dépot: '',
                image: ''
         }),
			methods:{
                sendToFirebase2(){
                    const data2 = {
                        nom: this.nom,
                        prix: this.prix,
                        qte: this.qte,
                        Dépot: this.Dépot,
                        image: this.image,
                        }
                    this.$fire.firestore.collection('Lunettes').doc().set(data2)
                    console.log(this.nom, this.prix, this.qte, this.Dépot, this.image)
                }
		 }
        }
     </script>