<template>
		<v-container >
            
            <v-card color="#959ae5" margin:0>
            <v-text-field v-model="Nom" placeholder="Votre Nom et prénom svp"/>
           
            <v-text-field v-model="adresse" placeholder="Votre adresse de livarison"/>
            <v-btn @click="sendToFirebase()"> Cliquez pour enregistrer votre fiche client</v-btn>
            </v-card>
            
         
		</v-container>
	 </template>
	 <script>
		export default {
		name: 'addclient',
        data: () => ({
  	            
                Nom: '',
                adresse:'',
                Client_id:'',
                Nbdecommandes:0,
                
         }),
			methods:{
                sendToFirebase(){
                    const data = {
                       
                        
                        Nom: this.Nom,
                        adresse: this.adresse,
                        Client_id: Math.floor(Math.random() * 100000000000),
                        Nbdecommandes: 0,
                        
                        }
                    this.$fire.firestore.collection('Customers').doc().set(data)
                    
                    
                    
                    /* console.log(this.Catégorie, this.prix, this.Quantité, this.Product_id, this.Nom,this.Description,this.image) */
                }
		 }
        }
     </script>