<template>
  <v-app >
  
    
    <v-app-bar
      absolute
      color="#fcb69f"
      dark
      
      src="first.jpg"
      
      
    >
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          gradient="to top right, rgba(19,84,122,.5), rgba(128,208,199,.8)"
        ></v-img>
      </template>
      <template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500"
      
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="#2a5e87"
          dark
          v-bind="attrs"
          v-on="on"
        >
          Notre entreprise
        </v-btn>
      </template>

      <v-card color="#4c4970">
        <v-card-title align=center class="text-h5 ">
          FPV ONLINE SYSTEM
        </v-card-title>

        <v-card-text>
         Nous sommes avant tout une équipe de passionés et avons pour
         objectif d'accompagner les fans de FPV dans leur hobby. 
         Nos prix sont les plus bas du marché. Quelque soient vos besoins, nous 
         avons les bons produits. Vous êtes les bienvenus dans notre boutique
         Nos horaires: du lundi au samedi de 9h à 17h
         Notre adresse: 34 avenue de Grenoble
         38000 Grenoble
         Tel 0642322164
         Mail: fpvonline@gamil.com
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          
          <v-btn
            color="white"
            text
            @click="dialog = false"
          >
            Retouner sur le site
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
      
      <v-spacer></v-spacer>
      <v-app-bar-title style="color:white;font-size: x-large;" > <v-btn to="/" elevation="0">FPV ONLINE SYSTEM</v-btn></v-app-bar-title>

      <v-spacer></v-spacer>

      <v-btn icon to="/panier">
        <v-icon>mdi-basket</v-icon>
          Panier
      </v-btn>
      <v-spacer>
      </v-spacer>

      <v-btn to="/mailto:particuleplus@gmail.com" icon>
        <v-icon>mdi-email</v-icon>
          Contactez nous
      </v-btn>
      <v-spacer></v-spacer>
      
     <v-spacer></v-spacer>
     
      <v-btn to="/inscrip" icon>
        <v-icon>mdi-account</v-icon>
         INSCRIPTION
      </v-btn>
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-main >
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    
    <v-footer color="#5a5c82"
      :absolute="!fixed"
      app
      
    > 
      <span>&copy; {{ new Date().getFullYear() }}</span>
      <v-spacer></v-spacer>
       <v-img src="dji.jpg" height="50"
       width="50"></v-img>
       <v-spacer></v-spacer>
       <v-img src="fatshark-logo-2017-black.jpg" height="50"
       width="50"></v-img>
      <v-spacer></v-spacer>
      <v-img src="radiomaster.webp" height="50" width="50"></v-img>
      <v-spacer></v-spacer>
      <span>  Projet Simplon Delapierre Christophe</span>
    </v-footer>
  </v-app>
</template>

<script>
import Connexion from '../components/connexion.vue'
export default {
    name: "DefaultLayout",
    data() {
        return {
            clipped: false,
            drawer: false,
            fixed: false,
            dialog: false,
            items: [
                {
                    icon: "mdi-apps",
                    title: "Welcome",
                    to: "/"
                },
                {
                    icon: "mdi-chart-bubble",
                    title: "Inspire",
                    to: "/inspire"
                }
            ],
            miniVariant: false,
            right: true,
            rightDrawer: false,
            title: "Vuetify.js"
        };
    },
    components: { Connexion }
}
</script>
<style scoped>
.v-application {
  background-color:#2a5e87
}
.color1 {color: #121c2d;}
.color2 {color: #154e8d;}
.color3 {color: #20cfd8;}
.color4 {color: #80e883;}
.color5 {color: #f1df75;}
</style>
 