<template>
    <div>
     <v-sheet height="118"></v-sheet> 
     

     <v-btn style="position:absolute; right:300; top:200px;" elevation="0" @click="dialogAddArticle = true"> Ajouter un
      produit </v-btn>
      <p></p>
    <template>
    <h1>Ceci est la page administrateur qui permet d'enregistrer les produits</h1>
    <p></p>
    <v-btn 
        block
        color="white"
        text
        to="/"
        align="center"
        elevation="10"
        x-large
      >
        RETOUR VERS LA PAGE D'ACCEUIL
      </v-btn>
      <p></p>
      <v-btn style="position:absolute; right:300; top:200px;" elevation="0" @click="dialogAddArticle = true"> Ajouter un
      produit </v-btn>
      <v-row justify="center">


        <v-dialog v-model="dialogAddArticle" max-width="800">
          <v-card style="position:relative">
            <Addproduits />
            <v-btn style="position:absolute; right: 5px; bottom:5px;" outlined color="red" @click="refresh"> Retour
            </v-btn>
          </v-card>
        </v-dialog>
      </v-row>
    </template>

    </div>
</template>
<script>
import Addproduits from '../components/Addproduits.vue'
import AddArticle from '../components/AddArticle'
/* import Barretop from '../components/Barretop' */
export default {
  name: 'InspirePage',
  components: { AddArticle ,Addproduits},
  data() {
    return {
      ex3: { label: 'Quantité', val: 100, color: 'pink' },
      dialogAddArticle: false,
      dialogConfirmation: true,
      
      
      show: false,
      infos: null,
      dialog: false,
      selectedProduct: null,
      produits: []
    }
  },
  beforeMount() {
    console.log('--> BEFORE MOUNT')
    this.refresh()
  },
  methods: {
    userData(produit) {
      this.dialog = true
      this.selectedProduct = produit
    },
    async getData() {
      this.produits = []
      // RECUPERE TOUS LES DOCUMENTS D'UNE COLLECTION
      this.$fire.firestore.collection('Produits').get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
          this.produits.push(doc.data())
        });
        console.log(this.produits)
      })
    },
    refresh() {
      this.dialogAddArticle = false
      this.dialog = false
      this.getData()

    }
  }
}
</script>