<template>
    <div>
    <v-sheet height="53"></v-sheet>
    <p></p>
    <p></p>
    <v-card width="700" height="400" center color="white">
    <v-img src="creditcard.jpeg" height="250"></v-img>
    <v-card-title style="color:blueviolet">
    Vous allez être redirigé(e) vers notre plateforme de paiement</v-card-title>
   
    <v-btn to="/" style="color:blueviolet">
    Retourner sur le site
    </v-btn>
    </v-card >
    <v-card width="50"><v-img height="50" width="50" src="amalie-steiness.gif"></v-img></v-card>
    
    </div>
</template>