<template>
    <div>
    
     <v-card class="overflow-hidden">
    <v-app-bar
      absolute
      color="#fcb69f"
      dark
      shrink-on-scroll
      src="first.jpg"
      scroll-target="#scrolling-techniques-2"
    >
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          gradient="to top right, rgba(19,84,122,.5), rgba(128,208,199,.8)"
        ></v-img>
      </template>

      <v-app-bar-nav-icon></v-app-bar-nav-icon>

      <v-app-bar-title >SITE DE VENTE MATERIEL FPV</v-app-bar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
        Panier
      </v-btn>
      <v-spacer>
      </v-spacer>

      <v-btn icon>
        <v-icon>mdi-email</v-icon>
        Contactez nous
      </v-btn>
     

      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
        Connexion
      </v-btn>
    </v-app-bar>
    
    <v-sheet
      id="scrolling-techniques-2"
      class="overflow-y-auto"
      max-height="600"
    >
      <v-container style="height: 1000px;"></v-container>
    </v-sheet>
  </v-card>   
    </div>
    
</template>