<template>
<div>
<v-sheet height="123">
</v-sheet>
  <v-row>
    <v-col cols="12">
      <v-btn @click="getFromFirestore"> Get clients</v-btn>
    </v-col>
    <v-col cols="12">
      <v-btn @click="getData"> Get Radios</v-btn>
    </v-col>
    <v-col cols="12">
        <code>{{result}}</code>
    </v-col>
    <v-col cols="12">
        <code>{{clients}}</code>
    </v-col>
  </v-row>
  </div>
</template>

<script>
//import { getEnvironmentData } from 'worker_threads';

export default {
  name: 'InspirePage',
  data(){
    return{
      result: null,
      infos:"hello world",
      clients:null,
    }
  },
  methods:{
     async getFromFirestore(){
      this.$fire.firestore.collection('Clients').get().then((querySnapshots) => {
      querySnapshots.forEach(doc => {
        console.log(doc.id, '==', doc.data()) 
        this.clients=doc.data()
      });
      })
    }, 
   async getData(){
    this.$fire.firestore.collection('Radios').get().then((querySnapshots)=> {
        querySnapshots.forEach(doc=>{
            console.log(doc.id, '==', doc.data())
            this.result=doc.data()

        });
    })
         
    }
  }
}
</script>
