<template>
<div>

  <v-sheet height="53"></v-sheet>
  
  <v-row align="center">
  <v-col cols="6">
  <v-card
    
    class="mx-auto my-12"
    max-width="374"
    elevation="5"
  >
    

    <v-img
      height="250"
      src="Horus.jpg"
    ></v-img>

    <v-card-title> RADIOCOMMANDES</v-card-title>

    <v-divider class="mx-4"></v-divider>
    <v-card-actions>
      <v-btn
        color="blue"
        text
        to="/r2"
        align="center"
        
      >
        VOIR PRODUITS
      </v-btn>
    </v-card-actions>
  </v-card></v-col>
  <v-divider vertical></v-divider>
  <v-col cols="6">
  
  <v-card
    
    class="mx-auto my-12"
    max-width="374"
  >
   

    <v-img
      height="250"
      src="drone.jpg"
    ></v-img>

    <v-card-title>DRONES</v-card-title>

    <v-divider class="mx-4"></v-divider>
    <v-card-actions>
      <v-btn
        color="blue"
        text
        to="/drones"
      >
        VOIR PRODUITS
      </v-btn>
    </v-card-actions>
  </v-card>
  </v-col></v-row>
  <v-divider></v-divider>
  <v-row align="center">
  <v-col cols="6">
  <v-card
    
    class="mx-auto my-12"
    max-width="374"
  >
   

    <v-img
      height="250"
      src="lunettes.jpg"
    ></v-img>

    <v-card-title>LUNETTES</v-card-title>

    <v-divider class="mx-4"></v-divider>
    <v-card-actions>
      <v-btn
        color="blue"
        text
        to="/lunettesfpv"
      >
        VOIR PRODUITS
      </v-btn>
    </v-card-actions>
  </v-card>
  </v-col>
  <v-divider vertical ></v-divider>
  <v-col cols="6">
  <v-card
    
    class="mx-auto my-12"
    max-width="374"
  >
   

    <v-img
      height="250"
      src="bat.webp"
    ></v-img>

    <v-card-title>ACCESSOIRES</v-card-title>

    <v-divider class="mx-4"></v-divider>
    <v-card-actions>
      <v-btn
        color="blue"
        text
        to="/accesoires"
      >
        VOIR PRODUITS
      </v-btn>
    </v-card-actions>
  </v-card></v-col></v-row>

</div>

</template>

<script>
export default {
  name: 'IndexPage'
}
</script>