
<template>
    <div>
     <v-sheet height="110"></v-sheet> 
     <v-sheet height="116"></v-sheet>
     
    <v-btn 
        block
        color="white"
        text
        to="/"
        align="center"
        elevation="10"
        x-large
      >
        RETOUR VERS LA PAGE D'ACCEUIL
      </v-btn>
     
    <template>
      <v-row justify="center">


        <v-dialog v-model="dialogAddArticle" max-width="800">
          <v-card style="position:relative" margin:0>
          <v-container >
            
            <v-card color="#2a5e87" margin:0>
            <v-card-title>Remplissez impérativement les trois champs</v-card-title>
            <v-text-field v-model="Nom" placeholder="Votre Nom et prénom svp"/>
           
            <v-text-field v-model="adresse" placeholder="Votre adresse de livarison"/>
            <v-text-field v-model="Client_id" placeholder="Votre identifiant client (nombre à 8 chiffres)"/>
            <v-btn color="error" to="/">Abandonner inscription</v-btn>
            </v-card>
            
         
	      	</v-container>
            
            <v-btn v-if="(Client_id!=null)&&(Nom!=null)&&(adresse!=null)" style="position:absolute; right: 5px; bottom:5px;" color="green" @click="dialogAddArticle=false,check(Client_id)"> 
            Validez
            </v-btn>
            
            
          </v-card>
        </v-dialog>

      
        
        
      </v-row>
      <v-card elevation=15 color="#2a5e87" class="mx-auto"  v-if="ok">
      <v-card-title>Veuillez vérifier vos coordonnées et conserver votre identifiant</v-card-title>
      
      <v-card-text>Votre identifiant:{{Client_id}}</v-card-text>
      
      <v-card-text>Votre adresse de livraison: {{adresse}}</v-card-text>
      
      <v-card-text>Vos noms et prénoms: {{Nom}}</v-card-text>
      
      <v-btn color="success" @click="sendToFirebase(),ok=false,didi=true">Cliquez pour valider votre inscription</v-btn>
      </v-card>

      <v-card elevation=15 color="#2a5e87" class="mx-auto"  v-if="ok2">
      <v-card-title>Cet identifiant est déjà utilisé</v-card-title>
      
      
      
      <v-btn  @click="dialogAddArticle=true">Cliquez pour recommencer </v-btn>
      </v-card>
      
      
      
       

        <v-dialog v-model="didi"><v-btn to="/">Vous êtes enregistré(e) dans notre clientèle vous pouvez continuer 
        vos achats</v-btn></v-dialog>

    </template> 
    <!-- <v-btn @click="check(9999)">Test client</v-btn> -->

    </div>
</template>
<script>

import AddClient from '../components/AddClient.vue'


export default {
  name: 'Inscripionpage',
  components: { AddClient },
  data() {
    return {
      
      dialogAddArticle: true,
      converter:false,
    
      dialog: false,
      selectedProduct: null,
      produits: [],
      re2:'',
      Nom: null,
      adresse:null,
      Client_id:null,
      Nbdecommandes:0,
      listing:[],
      ok:false,
      ok2:false,
      didi:false
      
    }
  },
  beforeMount() {
    console.log('--> BEFORE MOUNT')
    this.refresh()
  },
  methods: {
    userData(produit) {
      this.dialog = true
      this.selectedProduct = produit
    },
    async getData() {
      this.produits = []
      // RECUPERE TOUS LES DOCUMENTS D'UNE COLLECTION 
        this.$fire.firestore.collection('Customers').get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
          this.produits.push(doc.data())
        });
        console.log(this.produits)
      })
    },
    // méthode de reinitialisation qui va chercher tous les produits par catégorie
    refresh() {
      this.dialogAddArticle = true
      this.dialog = false
      this.getData()
      this.didi=false
      this.ok=false
      this.ok2=false
      

    },
   
    // Ecrit la commande dans Firebase
    sendToFirebase(){
                    const data = {
                       
                        
                        Nom: this.Nom,
                        adresse: this.adresse,
                        Client_id: this.Client_id,
                        Nbdecommandes: 0,
                        
                        }
                    this.$fire.firestore.collection('Customers').doc().set(data)
                    
                },
                //méthode qui vérifie que l'identifiant n'est pas déjà pris
      check(ident){
        
        this.listing=[],
        this.ok=false,
        this.ok2=false,
        this.$fire.firestore.collection('Customers').where("Client_id","==",ident).get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
          this.listing.push(doc.id)
        });
        console.log(this.listing)
        if (this.listing.length===0) this.ok=true ;else this.ok2=true
        console.log(this.ok)
        
        
        
        
        

        


      })          
      }
  }
}
</script>