<template>
  <v-row>
    <v-col cols="12">
      <v-btn @click="getFromFirestore"> Get all documents</v-btn>
    </v-col>
    <v-col cols="12">
      <v-code>{{result}}</v-code>
      <p></p>
      <v-code>
        {{re2}}
      </v-code>
      
      
      
        <!-- {{result}} -->
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'InspirePage',
  data(){
    return{
      result: null,
      re2:null
    }
  },
  methods:{
    async getFromFirestore(){
      this.$fire.firestore.collection('Clients').get().then((querySnapshots) => {
      querySnapshots.forEach(doc => {
      console.log(doc.id, '==', doc.data()) 
      this.result=doc.data()
      this.re2=doc.id
      
        
        
      });
      })
    }
  }
}
</script>
