<template>
    <div>
    <v-sheet height="53"></v-sheet>
     
    <v-btn 
        block
        color="white"
        text
        to="/"
        align="center"
        elevation="10"
        x-large
      >
        RETOUR VERS LA PAGE D'ACCEUIL
      </v-btn>

       <v-card style="position:relative" margin:0>
         
            <v-card-title>Entrez votre identifiant SVP</v-card-title>
            <v-card color="#26b1a4" margin:0>
             
             <v-text-field v-model="Clientx_id" placeholder="Votre identifiant client svp"/>
             <v-btn v-if="ok3&Clientx_id!=null" @click="getData(Clientx_id),check(Clientx_id),get_id(Clientx_id),ok3=false,test=true">Accéder à votre espace</v-btn>
              
             
             <v-btn v-if="ok2" to="/inscrip">Aucun identifiant ne correspond cliquez pour vous enregistrer</v-btn>
             <!-- <v-btn v-if="ok2" to="/panier">Vous pensez avoir mal renseigné votre identifiant?</v-btn> -->

            </v-card>
      </v-card>
     
      
      <v-card color="#9083cc" v-if="ok" elevation="15" v-for="(item, index) in dataperso" :key="index"  class="pa-5 mt-5">
        <v-row>
          <v-col cols="12" class="pa-7 smalltitle " 
            style="font-size:20px; font-family: catamaran;font-weight: bold;font-style: normal;">
           <v-row > Bienvenue dans votre espace {{item.Nom}} </v-row>
           <!-- <v-row> Adresse de livraison: {{item.adresse}}</v-row> -->
          </v-col>
          
        </v-row>

      </v-card>
      <!-- <v-btn v-if="ok&pan" @click="getData(Clientx_id),get_id(Clientx_id),test=true,pan=false">Votre panier</v-btn> -->
      <v-card color="#d986b7" v-if="ok" elevation="15" v-for="(item, index) in produits" :key="index"  class="pa-5 mt-5">
        <v-row>
          <v-col cols="12" class="pa-7 smalltitle"
            style="font-size:20px; font-family: catamaran;font-weight: bold;font-style: normal;">
           <v-row> Produit commandé:  {{item.Nomdeprod}}</v-row>
           <v-row> Prix:  {{item.Price}} €</v-row>
           <v-row> Date de commande: {{item.date}}</v-row>
          </v-col>
          </v-row>

      </v-card>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>

      <v-card v-if="test" color="#9083cc">
      <v-card-title align="right">  Total à régler: {{sum}} €</v-card-title>
      <v-btn v-if="sum==0&!indicator" to="/" color="success">Votre panier est vide</v-btn> 
      <v-btn v-if="sum!=0" color="success" to="/checkout">Régler vos achats</v-btn>
      <v-btn v-if="sum!=0" color="error" @click="getinfcom(Clientx_id),indicator=true">Vider panier</v-btn>
      <v-btn v-if="indicator" to="/" color="success">Votre panier est vide retourner à l'acceuil</v-btn>
      <!-- <v-btn color="error" @click="getinfcom(Clientx_id)" to="/">Vider votre panier</v-btn> -->
      </v-card>
      
       
    
    </div>
</template>
<script>
export default {
  name: 'Panier',
  
  data() {
    return {
      
      
      dialogConfirmation: false,
      commande:false,
      
      infos: null,
      dialog: false,
      selectedProduct: null,
      produits: [],
      dataperso: [],
      Client_id:'',
      Clientx_id:0,
      produitcom:0,
      confirm:false,
      clientx:0,
      produitsxx : [],
      produitx:0,
      test:false,
      ok:false,
      ok2:false,
      listing:[],
      ok3:true,
      prices:[],
      sum:null,
      array:[],
      nom:'',
      pan:true,
      ps:[],
      ps2:[],
      ps3:[],
      strange:'',
      indicator:false
    }
  },
  beforeMount() {
    console.log('--> BEFORE MOUNT')
    this.refresh()

  },
  methods: {
    userData(produit) {
      this.dialog = true
      this.selectedProduct = produit
    },
    
    async getData(clientx) {
      this.produits = []
      this.sum=0
      // RECUPERE LES COMMANDES SELON LE CLIENT_ID
      this.$fire.firestore.collection('Commandes').where("Client_id","==",clientx).get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
        this.produits.push(doc.data())
        });
        console.log(this.produits)
        console.log(this.produits[0].Price)
        // somme les prix de chaque article commandé
        for (let i=0;i<this.produits.length;i++)
        {this.sum+=this.produits[i].Price} 
        
      })
    },

    refresh() {
      
      this.dialog = false
      this.dialogConfirmation=false
      this.commande=false
      this.Clientx_id=null
      this.produits=[]
      this.indicator=false
      

    },
    // récupère les coordonnées du client grace à son id demandée dans la commande
    get_id(client){
       this.dataperso=[]
       this.nom=''
       console.log(client)
       // requete des infos dans la base de donnée en fonction de l'identifiant du client
        this.$fire.firestore.collection('Customers').where("Client_id", "==",client).get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
        this.dataperso.push(doc.data())
          
        });
        
        
      })
    },
      getinfcom(xy){
       this.ps=[]
       this.ps2=[]
       this.ps3=[]
       this.produits=[]
       this.sum=0
       
       
        this.$fire.firestore.collection('Commandes').where("Client_id", "==",xy).get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
        
        this.ps3.push(doc.id)
        console.log(this.ps3)        
          
        });
        // efface les commandes du client
        for (let i=0;i<this.ps3.length;i++)
        {
         this.$fire.firestore.collection('Commandes').doc(this.ps3[i]).delete(); 
        console.log("ok") }  

        
        
        
      })
      
       
    }, 
    //vérifie que le client est bien enregistré
    check(ident){
        
        this.listing=[],
        this.ok=false,
        this.ok2=false,
        this.$fire.firestore.collection('Customers').where("Client_id","==",ident).get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
          this.listing.push(doc.id)
        });
        /* console.log(this.listing) */
        if (this.listing.length!=0) this.ok=true ;else this.ok2=true
        /* console.log(this.ok) */
      })          
      }

    }
  }




</script>