<template>
    <div>
    <v-sheet height="53"></v-sheet>
     
    <v-btn 
        block
        color="white"
        text
        to="/"
        align="center"
        elevation="10"
        x-large
      >
        RETOUR VERS LA PAGE D'ACCEUIL
      </v-btn>

     <!-- <v-btn @click="getData">
        GET DATA
      </v-btn> -->
      <v-card elevation="15" v-for="(produit, index) in produits" :key="index" @click="userData(produit)" class="pa-5 mt-5">
        <v-row>
          <v-col cols="6" class="pa-7 smalltitle"
            style="font-size:20px; font-family: catamaran;font-weight: bold;font-style: normal;">
            <v-row>Nom : {{ produit.Nom }} </v-row>
            <v-row>Quantité disponible : {{ produit.Quantité }} unités </v-row>
            <v-row>Prix: {{ produit.prix }} € </v-row>
            <v-row>Description {{ produit.Description }} </v-row>
          </v-col>
          <v-col cols="1">
            <v-divider vertical></v-divider>
          </v-col>
          <v-col cols="5">
            <v-img  :src="produit.image"></v-img>
          </v-col>
        </v-row>

      </v-card>
      <template>
      <v-row justify="center">


        <v-dialog v-model="dialog" max-width="800">
          <v-card v-if="selectedProduct" class="pa-7 text-center">
            <v-row class="text-center blue-grey white--text" style="text-align:center;">
              <h1 class="mx-auto "> {{ selectedProduct.Nom }}</h1>
            </v-row>

            <v-row style="padding:5px;">
              <v-col cols="6">
                <v-row>
                  <v-col cols="12">
                    <v-img size="200px" :src="selectedProduct.image"></v-img>
                  </v-col>
                  
                  <!-- <v-col cols="12" class="mt-5 ">
                    <v-slider v-model="ex3.val" :label="ex3.label" :thumb-color="ex3.color" min="20" max="200" thumb-label="always">
                    </v-slider>
                  </v-col> -->

                  <v-col cols="12">
                    <v-btn block outlined color="success" @click="dialogConfirmation = true"> Commander <v-icon class="ml-5">mdi-cart</v-icon>
                    </v-btn>
                  </v-col>
                  
                  <v-col cols="12">
                    <v-btn block  color="error" @click="dialog=false"> Retour
                    </v-btn>
                  </v-col>

                </v-row>
              </v-col>
              
            </v-row>
  
          </v-card>
           
     

        </v-dialog>
        <!-- // gestion des commandes -->
        <v-dialog v-model="dialogConfirmation">
        <v-card max-width="800">
        <v-container >
            
            <v-card color="#959ae5" margin:0 >
            <v-card-title v-if="ok3">Entrez votre identifiant svp</v-card-title>
            <v-text-field v-model="Client_id" placeholder="Votre identifiant client svp"/>
            <v-btn v-if="ok3" @click="check(Client_id),get_id(Client_id),ok3=false,getinfp(selectedProduct.Product_id)">Vérifions vos coordonnées</v-btn>
           
            <v-btn v-if="stocky" to="/">Produit non disponible</v-btn>
            <v-card-text v-if="ok2">Cet identifiant n'est pas dans notre base de donnée</v-card-text>
            <v-card-text v-if="ok">Bienvenue: {{nom}}</v-card-text> 
            <v-btn color="success" v-if="ok&!stocky"  @click="dialogConfirmation=false,get_id(Client_id),commande=true,getinfp(selectedProduct.Product_id)"> Vous pouvez passer commande </v-btn> 
           
            <v-btn v-if="!stocky" @click="dialogConfirmation=false" to="/">Abandonner commande</v-btn>
            <v-btn color="success" v-if="ok2" to="/inscrip">Pas encore incrit?</v-btn>  
            
            </v-card>
        
       
           </v-container>
        
        
        </v-card>
         
        
        </v-dialog>
        <v-dialog v-model="commande" >

        <v-card elevation="15" v-for="(datap, index) in dataperso" :key="index" class="pa-5 mt-5">
        <v-row>
          <v-col cols="12" class="pa-7 smalltitle"
            style="font-size:20px; font-family: catamaran;font-weight: bold;font-style: normal;">
            <v-row>Veuillez vérifier votre commande</v-row>
            <v-row>Nom:  {{ datap.Nom }} </v-row>
             <v-row>Adresse: {{ datap.adresse }} </v-row>
             <v-row>Produit commandé: {{selectedProduct.Nom}}</v-row>
             <v-row>Prix du produit: {{selectedProduct.prix}}  €</v-row>
             <v-sheet height="50"></v-sheet>
             <v-btn @click="dialog=false,confirm=true,commande=false,sendcommande()">Si exact cliquez pour confirmer la commande</v-btn>
             
            
          </v-col>
         
          
        </v-row>

      </v-card>
        </v-dialog>
        <v-dialog v-model="confirm">
         <v-card
        class="mx-auto my-12"
        max-width="374"
        elevation="24"
  >
    

    <v-img
      height="400"
      src="validation.png"
    ></v-img>

    <v-card-title>l'article est dans votre panier</v-card-title>

    <v-divider class="mx-4"></v-divider>
    <v-card-actions>
      <v-btn
        color="blue"
        
        to="/"
        align="center"
      >
        Continuer vos achats
      </v-btn>
      
      
    </v-card-actions>
  </v-card>  
        
        </v-dialog>
        
         
        
<v-btn 
        block
        color="white"
        text
        to="/"
        align="center"
        elevation="10"
        x-large
      >
        RETOUR VERS LA PAGE D'ACCEUIL
      </v-btn>
        
      </v-row>
       
    </template>
 
    </div>
</template>
<script>

export default {
  name: 'Radio',
  
  data() {
    return {
      
      dialogAddArticle: false,
      dialogConfirmation: false,
      commande:false,
      
      infos: null,
      dialog: false,
      selectedProduct: null,
      produits: [],
      dataperso: [],
      Client_id:null,
      produitcom:0,
      confirm:false,
      Nomdeprod:'',
      date:null,
      prod:0,
      ps:[],
      
      
      ps2:[],
      ps3:[],
      ok:false,
      ok2:false,
      listing:[],
      ok3:true,
      nom:'',
      stocky:false
    }
  },
  beforeMount() {
    console.log('--> BEFORE MOUNT')
    this.refresh()
  },
  methods: {
    userData(produit) {
      this.dialog = true
      this.selectedProduct = produit
    },
    async getData() {
      this.produits = []
      // RECUPERE TOUS LES DOCUMENTS DE LA COLLECTION DE LA CATEGORIE RADIO
      this.$fire.firestore.collection('Produits').where("Catégorie", "==","Radio").get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
          this.produits.push(doc.data())
        });
        
      })
    },
   /*  Ecrit la commande dans la table commande */
    sendcommande(){
                    const data = {
                        Client_id: this.Client_id,
                        Product_id:this.selectedProduct.Product_id,
                        Nomdeprod:this.selectedProduct.Nom,
                        Price:this.selectedProduct.prix,
                        date:this.currentDateTime()
                        }
                    this.$fire.firestore.collection('Commandes').doc().set(data)
                    
                    
                },
   


    //récupère l'heure de la commande
     currentDateTime() {
      const current = new Date();
      const date = current.getFullYear()+'-'+(current.getMonth()+1)+'-'+current.getDate();
      
      const dateTime = date;

      return dateTime;
    },
    // méthode appelée dans le beforemount 
    refresh() {
      this.dialogAddArticle = false
      this.dialog = false
      this.dialogConfirmation=false
      this.commande=false
      this.getData()
      this.ok=false
      this.ok2=false
      this.ok3=true

    },
    // récupère les coordonnées du client grace à son id demandée dans la commande
    get_id(client){
       this.dataperso=[]
       this.nom=''
       
        this.$fire.firestore.collection('Customers').where("Client_id", "==",client).get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
        this.dataperso.push(doc.data())

          
        });
         this.nom=this.dataperso[0].Nom
      })
    },
    // décrémente les quantités et vérifie que le produit est disponible
    getinfp(x){
       this.ps=[]
       this.ps2=[]
       this.ps3=[]
       
        this.$fire.firestore.collection('Produits').where("Product_id", "==",x).get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
        this.ps.push(doc.id)
        this.ps3.push(doc.data())
        console.log(this.ps[0])
        console.log(this.ps3[0].Quantité)
        
        
        
          
        });
        if (this.ps3[0].Quantité!=0)
        //met à jour la base de données décrémente la quantité en stock
        {this.$fire.firestore.collection('Produits').doc(this.ps[0]).update({Quantité: (this.ps3[0].Quantité)-1
});} 
        if (this.ps3[0].Quantité==0)
        {this.stocky=true}
        
      })
      
       
    },// vérifie l'existence du client
     check(ident){
        
        this.listing=[],
        this.ok=false,
        this.ok2=false,
        this.$fire.firestore.collection('Customers').where("Client_id","==",ident).get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
          this.listing.push(doc.id)
        });
        console.log(this.listing)
        if (this.listing.length!=0) this.ok=true ;else this.ok2=true
        console.log(this.ok)
        
      })          
      }
    
    }  
  }

</script>