<template>
    <div>
    <v-sheet height="116"></v-sheet>
     
    <v-btn 
        
        color="white"
        text
        to="//"
        align="center"
        elevation="15"
        
      >
        RETOUR VERS LA PAGE D'ACCEUIL
      </v-btn>

     <!-- <v-btn @click="getData">
        GET DATA
      </v-btn> -->
      <v-card elevation="15" v-for="(produit, index) in produits" :key="index" @click="userData(produit)" class="pa-5 mt-5">
        <v-row>
          <v-col cols="6" class="pa-7 smalltitle"
            style="font-size:20px; font-family: catamaran;font-weight: bold;font-style: normal;">
            <v-row>Nom : {{ produit.Nom }} </v-row>
            <v-row>Quantité : {{ produit.Quantité }} unités </v-row>
            <v-row>Prix: {{ produit.prix }} € </v-row>
            <v-row>Description {{ produit.Description }} </v-row>
          </v-col>
          <v-col cols="1">
            <v-divider vertical></v-divider>
          </v-col>
          <v-col cols="5">
            <v-img  :src="produit.image"></v-img>
          </v-col>
        </v-row>

      </v-card>
      <template>
      <v-row justify="center">


        <v-dialog v-model="dialog" max-width="800">
          <v-card v-if="selectedProduct" class="pa-7 text-center">
            <v-row class="text-center blue-grey white--text" style="text-align:center;">
              <h1 class="mx-auto "> {{ selectedProduct.Nom }}</h1>
            </v-row>

            <v-row style="padding:5px;">
              <v-col cols="6">
                <v-row>
                  <v-col cols="12">
                    <v-img size="200px" :src="selectedProduct.image"></v-img>
                  </v-col>
                  
                  <!-- <v-col cols="12" class="mt-5 ">
                    <v-slider v-model="ex3.val" :label="ex3.label" :thumb-color="ex3.color" min="20" max="200" thumb-label="always">
                    </v-slider>
                  </v-col> -->

                  <v-col cols="12">
                    <v-btn block outlined color="success" @click="dialogConfirmation = true"> Commander <v-icon class="ml-5">mdi-cart</v-icon>
                    </v-btn>
                  </v-col>
                  
                  <v-col cols="12">
                    <v-btn block  color="error" @click="dialog=false"> Retour
                    </v-btn>
                  </v-col>

                </v-row>
              </v-col>
              
            </v-row>
  
          </v-card>
           <v-card v-if="commande" elevation="15" v-for="(datap, index) in dataperso" :key="index" class="pa-5 mt-5">
        <v-row>
          <v-col cols="12" class="pa-7 smalltitle"
            style="font-size:20px; font-family: catamaran;font-weight: bold;font-style: normal;">
            <v-row>Veuillez vérifier vos noms et coordonnées pour la livraison</v-row>
            <v-row>Nom:  {{ datap.Nom }} </v-row>
             <v-row>Adresse: {{ datap.adresse }} </v-row>
             <v-row>Produit commandé: {{selectedProduct.Nom}}</v-row>
             <v-sheet height="50"></v-sheet>
             <v-btn @click="dialog=false,confirm=true,commande=false">Si exact cliquez pour confirmer la commande</v-btn>
             
            
          </v-col>
         
          
        </v-row>

      </v-card>
     

        </v-dialog>
        <!-- // gestion des commandes -->
        <v-dialog v-model="dialogConfirmation">
        <v-card>
        <v-container >
            
            <v-card color="#959ae5" margin:0>
            
            <v-text-field v-model="Client_id" placeholder="Votre identifiant client svp (nombre à 4 chiffres minimum)"/>
           
            <v-btn @click="sendcommande(),dialogConfirmation=false,get_id(Client_id),commande=true"> Confirmer commande </v-btn> 
           <!--  <v-btn @click="get_id(Client_id)">Chercher les infos du client</v-btn> -->
              
            </v-card>
        
       
           </v-container>
        
        
        </v-card>
        <v-btn @click="dialog=false">Abandonner commande</v-btn>
        <v-btn v-if="confirm=true" to="//">Commande réalisée cliquer pour revenir à l'acceuil</v-btn>
        </v-dialog>
        
         
        

        
      </v-row>
    </template>
 
    </div>
</template>
<script>
/* import AddArticle from '../components/AddArticle' */
/* import Barretop from '../components/Barretop' */
export default {
  name: 'Radio',
  /* components: { AddArticle }, */
  data() {
    return {
      
      dialogAddArticle: false,
      dialogConfirmation: false,
      commande:false,
      
      infos: null,
      dialog: false,
      selectedProduct: null,
      produits: [],
      dataperso: [],
      Client_id:0,
      confirm:false,
      Nomduprod:''
    }
  },
  beforeMount() {
    console.log('--> BEFORE MOUNT')
    this.refresh()
  },
  methods: {
    userData(produit) {
      this.dialog = true
      this.selectedProduct = produit
    },
    async getData() {
      this.produits = []
      // RECUPERE TOUS LES DOCUMENTS D'UNE COLLECTION DE LA CATEGORIE RADIO
      this.$fire.firestore.collection('Produits').where("Catégorie", "==","Radio").get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
          this.produits.push(doc.data())
        });
        console.log(this.produits)
      })
    },
   /*  Envoie l'identifiant du client et le product_id de la commande et l'enregistre 
    dans la base de donnée */
    sendcommande(){
                    const data = {
                        Client_id: this.Client_id,
                        Product_id:this.selectedProduct.Product_id,
                        Nomduprod:this.selectedProduct.Nom,
                        prix:this.selectedProduct.prix
                        
                        
                        }
                    this.$fire.firestore.collection('Commandes').doc().set(data)
                    
                },
    refresh() {
      this.dialogAddArticle = false
      this.dialog = false
      this.dialogConfirmation=false
      this.commande=false
      this.getData()

    },
    // récupère les coordonnées du client grace à son id demandée dans la commande
    get_id(client){
       this.dataperso=[]
       console.log(client)
       // requete des infos dans la base de donnée en fonction de l'identifiant du client
        this.$fire.firestore.collection('Customers').where("Client_id", "==",client).get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
        this.dataperso.push(doc.data())
          
        });
        console.log(this.dataperso)
      })
    },

    }
  }

</script>