
<template>
<div>
<v-sheet height="148"></v-sheet>

<v-row><v-col>
    
    
    <v-btn @click="ran"> cliquer
    
</v-btn>

<div>
    {{re2}}
</div>


</v-col></v-row>
</div>




<!-- <div v-if="Math.random() > 0.5">
  Now you see me
</div>
<div v-else>
  Now you don't
</div>     -->
</template>
<script>
import { randomInt } from 'crypto'

export default {
  name: 'Page',
  data(){
    return{
      result: 0,
      re2:0
    }
  },
  methods:{
    /* async getFromFirestore(){
      this.$fire.firestore.collection('Clients').get().then((querySnapshots) => {
      querySnapshots.forEach(doc => {
      console.log(doc.id, '==', doc.data()) 
      this.result=doc.data()
        
        
      });
      })
    } */
    ran()
    {this.re2=Math.floor(Math.random() * 100000000000) + 1;}
  }
}



</script>
