<template>
    <div>
     <v-sheet height="110"></v-sheet> 
     <v-sheet height="116"></v-sheet>
     
    <v-btn 
        block
        color="white"
        text
        to="/"
        align="center"
        elevation="10"
        x-large
      >
        RETOUR VERS LA PAGE D'ACCEUIL
      </v-btn>
     <!-- <v-btn style="position:absolute; right:300; top:200px;" elevation="0" @click="dialogAddArticle = true"> 
     En cliquant vous acceptez notre politique de confidentialité </v-btn> -->
    <template>
      <v-row justify="center">


        <v-dialog v-model="dialogAddArticle" max-width="800">
          <v-card style="position:relative" margin:0>
          <v-container >
            
            <v-card color="#959ae5" margin:0>
            <v-card-title>Remplissez impérativement les trois champs</v-card-title>
            <v-text-field v-model="Nom" placeholder="Votre Nom et prénom svp"/>
           
            <v-text-field v-model="adresse" placeholder="Votre adresse de livarison"/>
            <v-text-field v-model="Client_id" placeholder="Votre identifiant client (nombre à 8 chiffres)"/>
            
            </v-card>
            
         
	      	</v-container>
            <!-- <AddClient/> -->
            <v-btn v-if="Client_id!=null&Nom!=null&adresse!=null" style="position:absolute; right: 5px; bottom:5px;" color="green" @click="dialogAddArticle=false,converter=true,sendToFirebase()"> 
            Validez
            </v-btn>
            
            
          </v-card>
        </v-dialog>
       
        
        
      </v-row>
      <v-dialog v-model="converter">
        <v-spacer></v-spacer>
        <v-row  style="font-size: 45px;color:white;text-align: center">   Votre identifiant client (à conserver):  {{Client_id}}</v-row>
        
        <v-btn to="/">
        Votre inscription est bien prise en compte cliquez pour revenir à l'acceuil</v-btn>
        </v-dialog>

    </template>
    <v-btn @click="check(3333)">Test client</v-btn>

    </div>
</template>
<script>

import AddClient from '../components/AddClient.vue'


export default {
  name: 'testy',
  components: { AddClient },
  data() {
    return {
      
      dialogAddArticle: true,
      converter:false,
    
      dialog: false,
      selectedProduct: null,
      produits: [],
      re2:'',
      Nom: null,
      adresse:null,
      Client_id:null,
      Nbdecommandes:0,
      listing:[],
      ok:false,
    }
  },
  beforeMount() {
    console.log('--> BEFORE MOUNT')
    this.refresh()
  },
  methods: {
    userData(produit) {
      this.dialog = true
      this.selectedProduct = produit
    },
    async getData() {
      this.produits = []
      // RECUPERE TOUS LES DOCUMENTS D'UNE COLLECTION 
        this.$fire.firestore.collection('Customers').get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
          this.produits.push(doc.data())
        });
        console.log(this.produits)
      })
    },
    refresh() {
      this.dialogAddArticle = true
      this.dialog = false
      this.getData()

    },
    ran()
    {this.re2=Math.floor(Math.random() * 100000000000) + 1;},
    
    sendToFirebase(){
                    const data = {
                       
                        
                        Nom: this.Nom,
                        adresse: this.adresse,
                        Client_id: this.Client_id,
                        Nbdecommandes: 0,
                        
                        }
                    this.$fire.firestore.collection('Customers').doc().set(data)
                    console.log(this.Client_id)
                    
                    
                    /* console.log(this.Catégorie, this.prix, this.Quantité, this.Product_id, this.Nom,this.Description,this.image) */
                },
      check(ident){
        
        this.listing=[],
        this.$fire.firestore.collection('Customers').where("Client_id","==",ident).get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
          this.listing.push(doc.data())
        });
        console.log(this.listing)
        


      })          
      }
  }
}
</script>